# <h1 align='center' >Computer Application in Engineering Design Lab</h1>
<h2 align='center' >Lab 8, BCE Fall 2021</h2>
<h3 align='left' >Instructor: Muhammad Farooq Khan</h3>
<h4>Date: 22-Nov-2021</h4>

In [1]:
print("Hello, World!")

Hello, World!

In [2]:
name = "Farooq"
print(name)

Farooq

In [3]:
num=3
num

3

In [4]:
num-5

-2

In [5]:
num + num

6

In [6]:
num/num

1.0

In [7]:
num = 0.25
total = num + 200
print(total)

200.25

In [8]:
x = 12
print(x % 5)

2

In [9]:
x+=7
x

19

In [10]:
x-=6
x

13

In [11]:
x*=3
x

39

In [12]:
tot = ((2 * 4) * 4) + 2
tot

34

In [13]:
greeting = "Hello"
addressee = "World"
print (greeting+addressee)

HelloWorld

In [14]:
greeting = "Hello"
addressee = "World"
space = " "
print (greeting+space+addressee)

Hello World

In [15]:
print("The sum of 2 plus 2 is " + "4")

The sum of 2 plus 2 is 4

### Conditional statements

In [16]:
number_of_wives = 1
if number_of_wives == 1:
    print("So far so good.")
    print("Congratulations.")
    print("All done")
print("End")

So far so good.
Congratulations.
All done
End

In [17]:
number_of_wives = 0
if number_of_wives == 1:
    print("So far so good.")
    print("Congratulations.")
    print("All done")
print("End")

End

if full_name == "Mark" + " " + "Myers":
if full_name == first_name + " " + "Myers":
if full_name == first_name + " " + last_name:
if total_cost == 81.50 + 135:
if total_cost == materials_cost + 135:
if total_cost == materials_cost + labor_cost:
if x + y == a - b:

if 1 > 0:
if 0 < 1:
if 1 >= 0:
if 1 >= 1:
if 0 <= 1:
if 1 <= 1:

In [18]:
species = "dog"
if species == "cat":
    print("Yep, it's cat.")
if species != "cat":
    print("Nope, not cat.")

Nope, not cat.

In [19]:
species = "cat"
if species == "cat":
    print("Yep, it's cat.")
else:
    print("Nope, not cat.")

Yep, it's cat.

In [20]:
donut_condition = "bad"
donut_price = "low"

if donut_condition == "fresh":
    buy_score = 10
elif donut_price == "low":
    buy_score = 5
else:
    buy_score = 0
print(buy_score)

5

In [21]:
weight = 301
time = 5
age = 18
height = 71

if weight > 300 and time < 6 and age > 17 and height < 72:
    status = "try to recruit him"
    
    print(status)

try to recruit him

if age > 65 or age < 21 and res == "U.K.":
if age > 65 or (age < 21 and res == "U.K."):

if c == d:
    if x == y:
        g = h
    elif a == b:
        g = h
    else:
        e = f
else:
    e = f

### Comments

In [22]:
# This is a comment.
# This is another comment.
# Python ignores these comments.
# The code that Python executes is next, on line
print("Hello, world!")

Hello, world!

In [23]:
'''
This is a comment.
This is another comment.
Python ignores these comments.
The code that Python executes is next, on line
'''
print("Hello, world!")

Hello, world!

### Lists

In [24]:
cities = ["Atlanta", "Baltimore", "Chicago", "Denver", "Los Angeles", "Seattle"]
print(cities[2])

Chicago

In [25]:
cities.append("New York")
print(cities)

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle', 'New York']

In [26]:
cities = cities + ["Dubuque", "New Orleans"]
print(cities)

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle', 'New York', 'Dubuque', 'New Orleans']

In [27]:
cities.insert(0, "Tokyo")
print(cities)

['Tokyo', 'Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle', 'New York', 'Dubuque', 'New Orleans']

In [28]:
smaller_list_of_cities = cities[2:5]
print(cities)
print(smaller_list_of_cities)
smaller_list_of_cities = cities[:5]
print(smaller_list_of_cities)
smaller_list_of_cities = cities[3:]
print(smaller_list_of_cities)

['Tokyo', 'Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle', 'New York', 'Dubuque', 'New Orleans']
['Baltimore', 'Chicago', 'Denver']
['Tokyo', 'Atlanta', 'Baltimore', 'Chicago', 'Denver']
['Chicago', 'Denver', 'Los Angeles', 'Seattle', 'New York', 'Dubuque', 'New Orleans']

In [29]:
print(cities)
del cities[0]
print(cities)

['Tokyo', 'Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle', 'New York', 'Dubuque', 'New Orleans']
['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle', 'New York', 'Dubuque', 'New Orleans']

In [30]:
print(cities)
cities.remove("Baltimore")
print(cities)

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle', 'New York', 'Dubuque', 'New Orleans']
['Atlanta', 'Chicago', 'Denver', 'Los Angeles', 'Seattle', 'New York', 'Dubuque', 'New Orleans']

In [31]:
tasks = ["email Frank", "call Sarah", "meet with Zach"]
latest_task_accomplished = tasks.pop(1)
print(tasks)

['email Frank', 'meet with Zach']

In [32]:
tasks.append(latest_task_accomplished)
print(tasks)

['email Frank', 'meet with Zach', 'call Sarah']

### Tuples

Elements are fixed. They can't be changedâ€”unless you redefine the whole tuple.

In [33]:
states_in_order_of_founding = ("Delaware", "Pennsylvania", "New Jersey", "Georgia")

We're confident these will always be the first four states, and their order
won't change. We'll never need to replace one of them with another state. We'll
never need to add another state. And, barring extraordinary events, we'll never
need to delete one of them. So we create a tuple (You can't add, modify, remove, delete, or pop)

In [34]:
second_state_founded = states_in_order_of_founding[1]
second_state_founded

'Pennsylvania'

In [35]:
print("The second state founded was " + second_state_founded)

The second state founded was Pennsylvania

In [36]:
cleanest_cities = ["Cheyenne", "Santa Fe", "Tucson", "Great Falls", "Honolulu"]
city_to_check = "Tucson"

for a_clean_city in cleanest_cities:
    if city_to_check == a_clean_city:
        print("It's one of the cleanest cities")

It's one of the cleanest cities

In [37]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [38]:
for i in range(2,10):
    print(i)

2
3
4
5
6
7
8
9

In [39]:
first_names = ["BlueRay ", "Upchuck ", "Lojack ", "Gizmo ", "Do-Rag "]
last_names = ["Zzz", "Burp", "Dogbone", "Droop"]
full_names = []

for a_first_name in first_names:
    for a_last_name in last_names:
        full_names.append(a_first_name + " " + a_last_name)
print(full_names)

['BlueRay  Zzz', 'BlueRay  Burp', 'BlueRay  Dogbone', 'BlueRay  Droop', 'Upchuck  Zzz', 'Upchuck  Burp', 'Upchuck  Dogbone', 'Upchuck  Droop', 'Lojack  Zzz', 'Lojack  Burp', 'Lojack  Dogbone', 'Lojack  Droop', 'Gizmo  Zzz', 'Gizmo  Burp', 'Gizmo  Dogbone', 'Gizmo  Droop', 'Do-Rag  Zzz', 'Do-Rag  Burp', 'Do-Rag  Dogbone', 'Do-Rag  Droop']

In [40]:
name = input("enter your name: ")
name

enter your name: farooq khan

'farooq khan'

In [41]:
num = input("enter number: ")
num+2

enter number: 5

TypeError: can only concatenate str (not "int") to str

In [42]:
num = input("enter number: ")
num = int(num)
num+2

enter number: 5

7

In [43]:
min_wage = 2
print("The minimum wage in your state is $" + min_wage)

TypeError: can only concatenate str (not "int") to str

In [44]:
min_wage = str(min_wage)
print("The minimum wage in your state is $" + min_wage)

The minimum wage in your state is $2

In [45]:
cleanest_cities = ["Cheyenne", "cheyenne", "Santa Fe", "santa fe", "Tucson", "tucson", "Great Falls",
                   "great falls", "Honolulu", "honolulu"]
city_to_check = input("Enter your city: ")
city_to_check = city_to_check.lower()
print(city_to_check)

#cleanest_cities = ["cheyenne", "santa fe", "tucson", "great falls", "honolulu"]
#for a_clean_city in cleanest_cities:
#    if city_to_check == a_clean_city:
#        print("It's one of the cleanest cities")

Enter your city: islaMAJSHAB
islamajshab

In [46]:
city_to_check = city_to_check.upper()
city_to_check

'ISLAMAJSHAB'

In [47]:
city_to_check = city_to_check.title()
city_to_check

'Islamajshab'

In [48]:
x=int(input("hello?"))

hello?6